<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <title>Document</title>
</head>
<body>
    Title: <%= cryptLvl.title  %>
    <%= cryptLvl.lvlText  %>
    Image: <%= cryptLvl.lvlImg  %>
    Created By: <%= cryptLvl.lvlCr  %>
    Points: <%= cryptLvl.points  %>
    <% let completedArray = JSON.parse(JSON.stringify(completed.cryptic)); %>
    <% if (completedArray.includes(cryptLvl._id.toString())) { %>
        Solved!
    <% } else { %>
        <form action="/challenges/cryptic/<%= cryptLvl.lvlNo%>" method="POST">
            <input type="text" name="answer" placeholder="answer">
            <button type="submit">Submit</button>
        </form>
    <% } %>
</body>
</html>