<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Title: <%= ctfLvl.title  %>
    <%= ctfLvl.lvlText  %>
    Image: <%= ctfLvl.lvlImg  %>
    Created By: <%= ctfLvl.lvlCr  %>
    Points: <%= ctfLvl.points  %>
    
    <form action="/challenges/ctf/<%= ctfLvl.lvlNo  %>/" method="POST">
        <input type="text" name="answer" placeholder="answer">
        <button type="submit">Submit</button>
    </form>
</body>
</html>